@model IEnumerable<OneToManyRelationshipEntityFrameworkCore.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Owned Note(s)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => person.Name)
                </td>
                <td>@await Component.InvokeAsync("Notes", new { id = person.PersonId })</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@person.PersonId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@person.PersonId">Details</a> |
                    <a asp-action="Add" asp-route-id="@person?.PersonId">Add Note</a> |
                    <a asp-action="Delete" asp-route-id="@person.PersonId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>